

<% const nombre = 'erfge'; //codigo JS %>
<%= nombre%>

<% const arreglo = [1,2,3,4,5]; %>
<%= arreglo%>

<% const objeto = {nombre:'Erick'}; %>
<%= objeto.nombre%>

<%arreglo.forEach((valorActual)=>{%>
<p>Numero:<%=valorActual%></p>
<% })%>

<ol>
<%arreglo.forEach((valorActual)=>{%>
    <li>Numero:<%=valorActual%></li>
<% })%>
</ol>

<% if(estaVivo){%>
<h1>ESTAA VIVOO!!!</h1>
<%}else {%>
<h1>C murió :(</h1>
<% }%>