<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compra materias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

        html,body {

            background-repeat: no-repeat;
            height: 50%;
            font-family: 'Numans', sans-serif;
            color: white;

        }

        .btn{
            color: white;
            background-color: crimson;

        }

        tr{
            font-family: 'Numans', sans-serif;
            color: black;
        }


        .espacio{
            height: 100px;
        }
        .cabecera{
            padding-top:20px;
        }
    </style>
</head>
<body>

<div class="col-sm-12" align="right">
    <span class="text-sm-right">Bienvenido: <%=usuario%></span>
</div>

<div class="container">
    <div class="col-sm-12">
        <div class="cabecera row text-right">
            <div class="col-sm-12" align="center">
                <a href="http://localhost:3000/api/login">
                    <button  type="button" class="btn btn-sm btn-primary">Salir</button>
                </a>
            </div>
        </div>
    </div>
    <div class="espacio"></div>
    <div class="col-sm-12">
        <form action="/api/tienda/gestion/buscar/<%=idPadre%>" class="form-horizontal" method="post">
            <div class="form-group row">
                <div class="col-sm-12" >
                    <input type="text" class="form-control" id="nombreBusquedaId" placeholder="Busqueda" name="nombreBusqueda">
                </div>
                <br>
                <br>
                <br>

                <div class="col-sm-12" align="center">
                    <button type="submit" class="btn btn-sm btn-primary">buscar</button></div>
            </div>
        </form>
    </div>
    <div class="col-sm-12">
        <div class="form-group row text-right">
            <div class="col-sm-12" align="center">
                <a href="http://localhost:3000/api/tienda/gestion/crear/<%=idPadre%>">
                    <button type="button" class="btn btn-sm btn-primary">Crear</button>
                </a>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de creacion</th>
                    <th>Precio</th>
                    <th>Horas por semana</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
                </thead>

                <tbody>

                <% listaProductos.forEach((productos)=>{ %>
                    <tr>
                        <td><%= productos.nombre %></td>
                        <td><%= productos.fechaCreacion %></td>
                        <td><%= productos.precio %></td>
                        <td><%= productos.numHoras %></td>
                        <td><%= productos.descripcion%> </td>
                        <td>
                            <form action="/api/tienda/gestion/eliminar/<%=idPadre%>" method="post">
                                <input type="text" name="productoId" hidden value="<%=productos.materiaId%> ">
                                <button type="submit" class="btn btn-xs btn-info">Borrar</button>
                            </form>
                            <!--<form action="/api/tienda/gestion/editar/<%=idPadre%>" method="post">
                                <input type="text" name="materiaId" hidden value="<%=productos.materiaId%> ">
                                <button type="submit" class="btn btn-xs btn-info">Editar</button>
                            </form>-->
                        </td>
                    </tr>
                <% })%>
                </tbody>
            </table>

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12" align="center">
            <a href="http://localhost:3000/api/menu" class="btn btn-sm btn-primary" role="button">Regresar</a>
        </div>
    </div>
</div>
<script>
    const hoy=new Date()
    let mes=hoy.getMonth()+1;
    let dia=hoy.getDate()
    const fecha=document.getElementById("fechaBusquedaId");
    if(mes<10){
        mes="0"+mes;
    }
    if(dia<10){
        dia="0"+dia;
    }
    fecha.value=hoy.getFullYear()+"-"+mes+"-"+dia;
</script>
</body>
</html>